@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    padding: 0.5rem;
    margin: 0.5rem;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #8fe9b6;
    --secondary-color:#a1aec6;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #dfdfdf;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  nav {
    text-align: right;
  }
 
  .header{
    box-shadow: 2px 2px 8px 5px #a1aec6;
    border-radius: 1rem;
    background:var(--primary-color);
    color: #0e0f0f;
    letter-spacing: 0.5px;
    font-weight: bolder;
  }
  .header nav a{
    background: #84bdce;
    border-radius: 5px;
    color: black;
    padding: 8px 24px;
    font-size: 16px;
  }
  .header nav a:hover{
    background: #5da3b8;
  }
  .form_box{

  }

  header h1 {
    text-align: initial;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
  }
  
  nav > a {
    padding: 0 1rem;
  }
  main {
    margin: 0 0 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form_box{
    display: flex;
  }
  .form_input{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .form_input label{
    position: absolute;
    top: 5px;
  }
  .form_input input{
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid black;
  }
 
  
  main h1 {
    margin: 1rem;
  }
  h3{
    text-align: center;
  }
  
/* to remove arrows in input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.question-container{
  margin: 1rem;
}

button{
    background-color:var(--primary-color);
    border: none;
    color: black;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: white;
    margin: 1rem auto;
    display: block;
}

#output {
    font-size: x-large;
    margin: 1rem;
  }
  
footer p {
    font-size: large;
    text-align: center;
  }
  
.footer-list {
    margin: 1rem;
  }
  
a, img, li{
    display: inline;
    color: var(--primary-color);
    margin: 0.25rem;
}
  
img {
    width: 40px;
    padding: 1rem 0.2rem;
}  


